body {
  background-color: lightgreen;
}
h1 {
  color: black;
  text-align: left;
}
p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
img {
  width: 200px;
  height: 250px;
}
h2 {
  color: brown;
  text-align: left;
}

